@import "./../styles/variables.scss";

.containerLayout {
    height: calc(100vh - #{$headerHeight});
    background: $bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        padding: 1.5rem 2.5rem;
        border-radius: $borderRadius calc(#{$borderRadius} * 10);
    }
}
